<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books</title>
    <style>
        {% include 'styles/base.css' %}
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="app/front/favicon.png">

</head>
<body>

<nav>
    <div>
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox"/>🌓
        </label>
    </div>
    {% block nav %} {% endblock %}
</nav>

<h1>
    {% block title %}{% endblock %}
</h1>

{% block body %}{% endblock %}

<script type="text/javascript"> {% include 'js/theme-switch.js' %}</script>

</body>
</html>
