<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books</title>
    <style>
        {% block styles %}
        {% include 'styles/base.css' %}
        {% include 'styles/components.css' %}
        {% include 'styles/table.css' %}
        {% include 'styles/edition.css' %}
        {% include 'styles/tags.css' %}
        {% include 'styles/notes.css' %}
        {% include 'styles/input.css' %}
        {% include 'styles/artsy.css' %}
        {% endblock %}
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="app/front/favicon.png">

</head>
<body>
<div id="artsy-bg-1"></div>
<div id="artsy-bg-2"></div>
<div id="artsy-bg-3"></div>
<div id="artsy-bg-4"></div>
<div id="artsy-bg-5"></div>
<div id="artsy-bg-6"></div>
<div id="artsy-bg-7"></div>
<div id="artsy-bg-8"></div>
<div id="artsy-bg-9"></div>
<nav>
    <div>
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox"/> 🌓
        </label>
    </div>

    {% block nav %}
        <div id="auth">
            {% if not authenticated %}
                <a class="" href="?action=login">Login</a>
            {% else %}
                <a class="" href="?action=logout">Logout</a>
            {% endif %}
        </div>
    {% endblock %}
</nav>

<h1>
    {% block title %}{% endblock %}
</h1>

{% block body %}{% endblock %}

<script type="text/javascript"> {% include 'js/theme-switch.js' %}</script>

</body>
</html>
