<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books</title>
    <style>
        {% include 'styles/base.css' %}
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="app/front/favicon.png">

</head>
<body>

<nav>
    <div>
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox"/>🌓
        </label>
    </div>
    {% block nav %} {% endblock %}
</nav>

<h1>
    {% block title %}{% endblock %}
</h1>

{% block body %}{% endblock %}

<script type="text/javascript">
    const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
    toggleSwitch.addEventListener('change', function (e) {
        if (e.target.checked) {
            document.documentElement.setAttribute('data-theme', 'dark');
            localStorage.setItem('theme', 'dark');
        } else {
            document.documentElement.setAttribute('data-theme', 'light');
            localStorage.setItem('theme', 'light');
        }
    }, false);

    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
        if (currentTheme === 'dark') {
            toggleSwitch.checked = true;
        }
    }
</script>

</body>
</html>
