<!DOCTYPE html>
<html>
	<head>
    <title>📚 Books</title>
    <link href="/app/front/styles/base.css" rel="stylesheet">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
	<body>

		<h1>List of read books 📚</h1>

{% block body %}{% endblock%}

    </body>
</html>
