<!DOCTYPE html>
<html>
	<head>
    <title>Books</title>
    <style>
        {% include 'styles/base.css' %}
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="app/front/favicon.png">

    </head>
	<body>

    <h1>List of read books 📚</h1>

    {% block body %}{% endblock %}

    </body>
</html>
