{% extends 'base.html.twig' %}

{% block nav %}
    <div><a href="../index.php">&lt;&lt; back </a></div>
{% endblock %}

{% block body %}
    <h1>There was an error:</h1>
    <p>
    {{ error.message }}
    </p>
    <p>in {{ error.file }}:{{ error.line }}</p>
{% endblock%}
