<tr>
    <form method="POST">
        <td>
            <label>
                <input type="text" name="title" placeholder="title"/>
            </label>
        </td>
        <td>
            <label>
                <input type="text" name="author" placeholder="author"/>
            </label>
        </td>
        <td>
            <label>
                <select name="type">
                    <option>—Type—</option>
                    {% for type in types %}
                    <option value="{{type}}"> {{ type }} </option>
                    {% endfor %}
                </select>
            </label>
        </td>
        <td>
            <label>
                <select name="note">
                    <option>—Note—</option>
                    {% for key, type in notes %}
                    <option value="{{key}}"> {{ type }} </option>
                    {% endfor %}
                </select>
            </label>
        </td>
        <td>
            <label>
                <input type="date" name="date" placeholder="date"/>
            </label>
        </td>
        <td>
            <button type="submit">OK</button>
        </td>
    </form>
</tr>
