<tr>
    <form method="POST">
        <td>
            <label>
                <input type="text" name="title" placeholder="title" autocapitalize="words"/>
            </label>
        </td>
        <td>
            <label>
                <input type="text" name="author" placeholder="author" autocapitalize="words"/>
            </label>
        </td>
        <td>
            <label>
                <select name="type">
                    <option value="">—Type—</option>
                    {% for type in types %}
                    <option value="{{type}}"> {{ type }} </option>
                    {% endfor %}
                </select>
            </label>
        </td>
        <td>
            <label>
                <select name="note">
                    <option value="">—Note—</option>
                    {% for key, type in notes %}
                    <option value="{{key}}"> {{ type }} </option>
                    {% endfor %}
                </select>
            </label>
        </td>
        <td>
            <label>
                <input type="date" name="finished_at" placeholder="date"/>
            </label>
        </td>
        <td>
            <button type="submit">OK</button>
        </td>
    </form>
</tr>
