:root{
    --bg-color: #fff;
    --fg-color: #04c062;
}

html {
    font: normal 13px monospace;
    color: var(--fg-color);
    background-color: var(--bg-color);
}
body {
    margin: 10px;
}

/*
 *  LIST
 */
table {
    border-collapse: collapse;
    width: 100%;
}
tr {
    padding: 5px;
    border-bottom: 1px solid #eee;
}
td {
    padding: 10px;
}

/*
 * NEW
 */
input, button, select {
    border: 1px solid var(--fg-color);
    padding: 5px;
    font: normal 14px monospace;
}
input, select {
    background: none;
    color: var(--fg-color);
}
button{
    background: var(--fg-color);
    color:var(--bg-color);
}