/*
 *  LIST
 */
table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

td {
    padding: 10px;
}

tr.reading {
    opacity: .5;
}
td.title {
    width: 40%;
}
td.author {
    width: 25%;
}
td.type {
    width: 10%;
}
td.note {
    width: 10%;
}
td.finished {
    width: 15%;
}
