/*
 *  LIST
 */
ul {
    width: 120vw;
    max-width: 1260px;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px;
    border-bottom: 1px dotted #aaa;
    width: 100%;
    white-space: nowrap;
}

li.books-list__title div {
    font-weight: bolder;
    color: var(--bg-color);
    background-color: var(--fg-color);
    border-radius: 3px;
    text-align: center;
    white-space: nowrap !important;
    margin:0;
}

li div {
    display: inline-block;
    padding: 5px;
    margin:0;

}

li.books-list__item div {
    white-space: normal;
}

li.books-list__item.reading {
    opacity: .5;
}

li.books-list__item.abandonned {
    opacity: .7;
}

li.books-list__item.abandonned div {
    text-decoration: line-through;
}

li.books-list__item div.title-item {
    width: 34%;
}

li.books-list__item div.author-item {
    width: 25%;
}

li.books-list__item div.type-item {
    width: 10%;
}

li.books-list__item div.note-item {
    width: 10%;
}

li.books-list__item div.finished-at-item {
    width: 15%;
}

li.active {
    background: #eee;
}
