:root {
    --tags__text: white;
    --tags__essay: #6a5392;
    --tags__novel: #088395;
    --tags__poetry: #05BFDB;
    --tags__biography: #8EAC50;
    --tags__art: #d2ad12;
}

[data-theme="dark"] {
    --tags__text: black;
    --tags__essay: #8c6fa3;
    --tags__novel: #0b9db1;
    --tags__poetry: #0bdbe0;
    --tags__biography: #a3b76d;
    --tags__art: #e0c12b;
}

.essay, .novel, .poetry, .biography, .art {
    color: var(--tags__text);
}

.essay { background-color: var(--tags__essay); }
.novel { background-color: var(--tags__novel); }
.poetry { background-color: var(--tags__poetry); }
.biography { background-color: var(--tags__biography); }
.art { background-color: var(--tags__art); }
