{% extends 'base.html.twig' %}

{% block nav %}
    <a href="..">&lt;&lt; back </a>
{% endblock %}

{% block title %}🤷 Login{% endblock %}

{% block body %}
    <form method="POST" name="?action=login" id="login">
        <div>
            <label>
                <input value="" type="text" name="username" placeholder="username" />
            </label>
        </div>
        <div>
            <label>
                <input value="" type="password" name="password" placeholder="password" />
            <span class="see-password">(see)</span>
            </label>
        </div>
        <div>
            <button type="submit">OK</button>
        </div>
    </form>


<script>
        document.querySelector('.see-password').addEventListener('click', function() {
            var password = document.querySelector('input[name="password"]');
            if (password.getAttribute('type') === 'password') {
                password.setAttribute('type', 'text');
            } else {
                password.setAttribute('type', 'password');
            }
        });
</script>

{% endblock %}

{% block styles %}
    {{ parent() }}
    {% include 'styles/login.css' %}
{% endblock %}
